doctype html 
html
  head 
    title Herbes House 
    //- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    block scripts 
    block style 
  body 
  
    nav#navbar 
        ul 
            div#logo 
                img(src="/static/img/logoimg1.jpg")
                
            li #[a(href="#home") Home]
            li #[a(href="#about") About]
            li #[a(href="#menu") Our Shop]
            li #[a(href="#products") Herbs Tea]
            li #[a(href="#blogs") Blogs]
            li #[a(href="/contact") Contactus]
    block content
    footer#footer 
        | copyright 2021 | herbesstore.com | All Rights Reserve