<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <!-- Navigation Bar section starts -->
    <header class="header">
        <a href="#" class="logo">
            <img src="../static/img/logoimg1.jpg" alt="">
        </a>


        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#menu">Our Shop</a>
            <a href="#products">Herbs Tea</a>
            <a href="#blogs">Blogs</a>
        </nav>

        <div class="icon">
            <div class="fas fa-search" id="search-btn"></div>
            <a href="/signup">Sign Up</a>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>

        </div>
        <div class="search-form">
            <input type="search" name="" id="search-box" placeholder="search here....">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>
    <!-- Navigation Bar section ends -->
    <!-- home section start -->

    <section class="home" id="home">

        <div class="content">
            <h3>fresh coffee in the morning</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, sit illo. Mollitia esse aspernatur id
                velit quidem eaque provident officiis distinctio eum temporibus, iusto nesciunt magni adipisci
                asperiores explicabo neque.</p>
            <a href="#" class="btn">Shop Now >></a>
        </div>
    </section>

    <!-- home section ends -->
    <!-- about section starts -->
    <section class="about" id="about">
        <h1 class="heading"><span>about</span>us</h1>

        <div class="row">

            <div class="image">
                <img src="../static/img/aboutimg.jpeg" alt="">
            </div>
            <div class="content">
                <h3>what make your coffee special?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident soluta velit in corrupti, vero,
                    quo suscipit impedit voluptatem mollitia cupiditate, asperiores ipsam. Perferendis distinctio
                    temporibus doloribus voluptatem deleniti quod fugit
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe dolorem earum ducimus atque animi
                    architecto, molestias magni commodi amet eum illo voluptas fugiat maxime ex ipsa tempora beatae
                    perspiciatis reprehenderit.</p>
                <a href="#" class="btn">learn more</a>
            </div>
        </div>
    </section>
    <!-- about section ends -->
    <!-- product section starts -->
    <section class="menu" id="menu">
        <h1 class="heading">our <span>shop</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="../static/img/product1.jpg" alt="">
                <h3>Jambool Beej Powder</h3>
                <div class="price">Rs.589/- <span>450</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>


            <div class="box">
                <img src="../static/img/product2.jpg" alt="">
                <h3>Natural Mehandi Powder</h3>
                <div class="price">Rs.250/- <span>200</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product3.jpg" alt="">
                <h3>Fresh Beetroot Powder</h3>
                <div class="price">Rs.350/- <span>345</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product4.jpg" alt="">
                <h3>Pomogranet Peel Powder</h3>
                <div class="price">Rs.580/- <span>499</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product5.jpg" alt="">
                <h3>Indian Amala Powder</h3>
                <div class="price">Rs.399/- <span>349</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product6.jpg" alt="">
                <h3>Orange Peel Powder</h3>
                <div class="price">Rs.250/- <span>200</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product7.jpg" alt="">
                <h3>Desi Papaya Powder</h3>
                <div class="price">Rs.450/- <span>399</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product8.jpg" alt="">
                <h3>Desi Rose Petals Powder</h3>
                <div class="price">Rs.369/-</div>
                <a href="#" class="btn">add to cart</a>
            </div>

            <div class="box">
                <img src="../static/img/product9.png" alt="">
                <h3>Carrot Powder</h3>
                <div class="price">Rs.367/- <span>350</span></div>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>
    </section>
    <!-- products section ends -->

    <!-- Herbs Tea section start -->
    <section class="products" id="products">
        <h1 class="heading">Herbs <span> Tea</span></h1>
        <div class="box-container">
            <div class="box">

                <div class="image">
                    <img src="../static/img/Hearbstea1 (1).jpg" alt="">
                </div>
                <div class="content">
                    <h3>Bael Fruit Tea </h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="price">Rs.459/- <span>Rs.568/-</span></div>
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/img/Hearbstea1 (3).jpg" alt="">
                </div>
                <div class="content">
                    <h3>Butterfly Pea Or Blue Pea Flower Herbal Tea</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="price">Rs.459/- <span>Rs.568/-</span></div>
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/img/Hearbstea1 (2).jpg" alt="">
                </div>
                <div class="content">
                    <h3>Tulasi Tea</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="price">Rs.459/- <span>Rs.568/-</span></div>
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Herbs Tea section ends -->
    <!-- blogs section starts -->
    <section class="blogs" id="blogs">
        <h1 class="heading">our <span>blogs</span></h1>
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../static/img/Banana-Face-Mask-Recipe.png" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Banana Face Mask Recipe</a>
                    <span>by admin/10th may,2021</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci dolorum corporis sapiente
                        ducimus fugit minus culpa iste omnis. Consequuntur dolores possimus quas sunt aut vero
                        perferendis consectetur aspernatur mollitia ut?</p>
                    <a href="#" class="btn">read more...</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/img/Bael_juice_898.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Beal tea benefites for skin</a>
                    <span>by admin/10th may,2021</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci dolorum corporis sapiente
                        ducimus fugit minus culpa iste omnis. Consequuntur dolores possimus quas sunt aut vero
                        perferendis consectetur aspernatur mollitia ut?</p>
                    <a href="#" class="btn">read more...</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../static/img/Acne-Fighting-Pomegranate-Treatment.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">Acne Fighting Pomegranate Treatment</a>
                    <span>by admin/10th may,2021</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci dolorum corporis sapiente
                        ducimus fugit minus culpa iste omnis. Consequuntur dolores possimus quas sunt aut vero
                        perferendis consectetur aspernatur mollitia ut?</p>
                    <a href="#" class="btn">read more...</a>
                </div>
            </div>
        </div>
    </section>
    <!-- blogs secction ends -->

    <!-- footer section starts -->
    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="links">
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">products</a>
            <a href="#">review</a>
            <a href="#">contact</a>
            <a href="#">blogs</a>
        </div>

        <div class="credit">creted by <span>mr.web designer</span> | all right reserved</div>
    </section>
    <!-- footer section ends -->
    <!-- custom js file link -->
    <script src="../static/index.js">


    </script>
</body>

</html>